@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

body {
  background-color: #130f0d;
  color: white;
  padding: 1rem;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.board {
  background-color: #141316;
  border: 1px solid #fd951f11;
  border-radius: 0.4rem;
}

.board > h3 {
  padding: 1rem;
  color: #fd951fcc;
}

.dropzone {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  min-width: 18rem;
  min-height: 16rem;
}

.card {
  background-color: #1a1a1c;
  padding: 1rem;
  border: 1px solid #fd951f11;
  box-shadow: 0 0 0.4rem #00000011;
  width: 16rem;
  border-radius: 0.4rem;
  font-weight: 600;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.status {
  width: 2rem;
  height: 0.5rem;
  background-color: gray;
  border-radius: 0.5rem;
}

.status.green {
  background-color: #23d2ac;
}

.status.blue {
  background-color: #33adff;
}

.status.red {
  background-color: red;
}

.highlight {
  background-color: #fd951f08;
}

.card, .dropzone {
  transition: 0.4s all;
}

.is-dragging {
  cursor: move;
  opacity: 0.3;
}

.over {
  background-color: #4cd13711;
}
